templates/logicapps/deploy/classic/logicapp-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "logicApplocation": {
        "type": "string",
        "metadata": {
          "description": "The datacenter to use for the deployment."
        }
      },
      "environmentName": {
        "type": "string"
      },
      "projectName": {
        "type": "string"
      },
      "logicAppName": {
        "type": "string"
      },
      "appServicePlanName": {
        "type": "string"
      },
      "storageName": {
        "type": "string",
        "minLength": 3,
        "maxLength": 24
      },
      "kind": {
        "type": "string",
        "defaultValue": "StorageV2"
      },
      "skuName": {
        "type": "string",
        "defaultValue": "Standard_LRS"
      },
      "skuTier": {
        "type": "string",
        "defaultValue": "Standard"
      },
      "azureblob_1_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "s141d02pireanstorage"
    },
     "azureblob_1_Connection_Name": {
      "type": "string",
      "defaultValue": "s141d02-pirean-dsiappblobconnector"
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "s141d02-pirean-dsiappoffice365connector"
    },
    "azureblob_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "s141d02-pirean-dsiappblobconnector"
    },
   
    "azureblob_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "azureblob_1_authType": {
      "type": "string",
      "metadata": {
        "description": "Authentication type to connect to your database"
      },
      "defaultValue": "basic",
      "allowedValues": [
        "basic",
        "anonymous"
      ]
    },
    "azureblob_1_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "defaultValue": "Private",
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
 
    },
   
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Pirean-DSI.Migration1@education.gov.uk"
    },
    "Email_1_From": {
      "type": "string",
      "defaultValue": "zeeshan.abbas@education.gov.uk;zeeshan.abbas@digital.gov.uk"
    }
    },
    "resources": [
      {
        "type": "Microsoft.Storage/storageAccounts",
        "apiVersion": "2019-06-01",
        "sku": {
          "name": "[parameters('skuName')]",
          "tier": "[parameters('skuTier')]"
        },
        "kind": "[parameters('kind')]",
        "name": "[parameters('storageName')]",
        "location": "[parameters('logicApplocation')]",
        "tags": {
          "Environment": "[parameters('environmentName')]",
          "Project": "[parameters('projectName')]"
        }
      },
      {
        "type": "Microsoft.Web/serverfarms",
        "apiVersion": "2018-02-01",
        "name": "[parameters('appServicePlanName')]",
        "location": "[parameters('logicApplocation')]",
        "tags": {
          "Environment": "[parameters('environmentName')]",
          "Project": "[parameters('projectName')]"
        },
        "sku": {
          "name": "WS1",
          "tier": "WorkflowStandard"
        },
        "kind": "windows"
      },
      {
        "type": "Microsoft.Web/sites",
        "apiVersion": "2018-11-01",
        "name": "[parameters('logicAppName')]",
        "location": "[parameters('logicApplocation')]",
        "dependsOn": [
          "[resourceId('Microsoft.Web/serverfarms', parameters('appServicePlanName'))]",
          "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageName'))]"
        ],
        "kind": "workflowapp,functionapp",
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {
          "Environment": "[parameters('environmentName')]",
          "Project": "[parameters('projectName')]"
        },
        "properties": {
          "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('appServicePlanName'))]",
          "siteConfig": {
            "netFrameworkVersion": "v4.6",
            "appSettings": [
              {
                "name": "APP_KIND",
                "value": "workflowApp"
              },
              {
                "name": "AzureFunctionsJobHost__extensionBundle__id",
                "value": "Microsoft.Azure.Functions.ExtensionBundle.Workflows"
              },
              {
                "name": "AzureFunctionsJobHost__extensionBundle__version",
                "value": "[1.*, 2.0.0)"
              },
              {
                "name": "AzureWebJobsStorage",
                "value": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('storageName'),';AccountKey=',concat(listKeys(concat(resourceGroup().id,'/providers/Microsoft.Storage/storageAccounts/', parameters('storageName')),'2019-06-01').keys[0].value),';EndpointSuffix=core.windows.net')]"
              },
              {
                "name": "FUNCTIONS_EXTENSION_VERSION",
                "value": "~3"
              },
              {
                "name": "FUNCTIONS_V2_COMPATIBILITY_MODE",
                "value": "true"
              },
              {
                "name": "FUNCTIONS_WORKER_RUNTIME",
                "value": "node"
              },
              {
                "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
                "value": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('storageName'),';AccountKey=',concat(listKeys(concat(resourceGroup().id,'/providers/Microsoft.Storage/storageAccounts/', parameters('storageName')),'2019-06-01').keys[0].value),';EndpointSuffix=core.windows.net')]"
              },
              {
                "name": "WEBSITE_CONTENTSHARE",
                "value": "[parameters('logicAppName')]"
              },
              {
                "name": "WEBSITE_NODE_DEFAULT_VERSION",
                "value": "~12"
              }, 
              {
                "name": "WORKFLOWS_SUBSCRIPTION_ID", 
                "value": "[subscription().subscriptionId]"
              },
              {
                "name": "WORKFLOWS_LOCATION_NAME", 
                "value": "[parameters('logicApplocation')]"
              },
              {
                "name": "WORKFLOWS_RESOURCE_GROUP_NAME", 
                "value": ""
              },
              {
                "name": "BLOB_CONNECTION_RUNTIMEURL", 
                "value": ""
              }              
            ]
          },
          "clientAffinityEnabled": false
        }
      },
      {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "actions": {
            "Get_all_the_attachments": {
              "type": "Foreach",
              "foreach": "@triggerBody()?['attachments']",
              "actions": {
                "Create_blob_(V2)": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": "@base64ToBinary(items('Get_all_the_attachments')?['contentBytes'])",
                    "headers": {
                      "ReadFileMetadataFromServer": true
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(variables('BlobStorageName')))}/files",
                    "queries": {
                      "folderPath": "/attachments",
                      "name": "@{formatDateTime(utcNow(), 'dd-MM-yyyyTHH:mm:ss')}-@{items('Get_all_the_attachments')?['name']}",
                      "queryParametersSingleEncoded": true
                    }
                  },
                  "runAfter": {},
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                }
              },
              "runAfter": {
                "Initialize_BlobStorageName": [
                  "Succeeded"
                ]
              }
            },
            "Delete_email_(V2)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}"
              },
              "runAfter": {
                "Get_all_the_attachments": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_BlobStorageName": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "BlobStorageName",
                    "type": "string",
                    "value": "[parameters('azureblob_1_accountName')]"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "$emailFrom": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_new_email_arrives_(V3)": {
              "type": "ApiConnectionNotification",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "fetch": {
                  "queries": {
                    "folderPath": "Inbox",
                    "from": "@{parameters('$emailfrom')['addresses']['name']}",
                    "importance": "Any",
                    "fetchOnlyWithAttachment": true,
                    "includeAttachments": true
                  },
                  "pathTemplate": {
                    "template": "/v3/Mail/OnNewEmail"
                  },
                  "method": "get"
                },
                "subscribe": {
                  "queries": {
                    "folderPath": "Inbox",
                    "importance": "Any",
                    "fetchOnlyWithAttachment": true
                  },
                  "body": {
                    "NotificationUrl": "@{listCallbackUrl()}"
                  },
                  "pathTemplate": {
                    "template": "/GraphMailSubscriptionPoke/$subscriptions"
                  },
                  "method": "post"
                }
              },
              "splitOn": "@triggerBody()?['value']"
            }
          },
          
          "outputs": {}
        },
        "kind": "Stateful",
        "parameters": {
          "$connections": {
            "value": {
              "azureblob_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblob_1_Connection_Name'))]",
                "connectionName": "[parameters('azureblob_1_Connection_Name')]"
              },
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          },
          "$emailFrom": {
            "value": {
              "addresses": {
                "name": "[parameters('Email_1_From')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureblob_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
     
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureblob_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblob_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_1_accountName')]",
          "accessKey": "[parameters('azureblob_1_accessKey')]",
          "authType": "[parameters('azureblob_1_authType')]",
          "privacySetting": "[parameters('azureblob_1_privacySetting')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
    
        
      
    ],
    "outputs": {
      "logicAppSystemAssignedIdentityTenantId": {
        "type": "string",
        "value": "[subscription().tenantid]"
      },
      "logicAppSystemAssignedIdentityObjectId": {
        "type": "string",
        "value": "[reference(resourceId('Microsoft.Web/sites', parameters('logicAppName')),'2019-08-01', 'full').identity.principalId]"
      },
      "LAname": {
        "type": "string",
        "value": "[parameters('logicAppName')]"
      }
    }
  }